html {
  position: relative;
}
html, body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
  background-color: #2d9e46;
  background: #efefef;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  color:indigo ;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 5cm;
}




